:root {
	--color-background: hsl(180deg 10% 15%);
}

html,
body {
	margin: 0;
    min-height: 100vh;
}

body {
	display: grid;
	grid-template-columns: 1fr 120px;
    grid-template-rows: 1fr;
    min-height: 100vh;
}

main {
	background-color: var(--color-background);
	display: flex;
	align-items: center;
	justify-content: center;
    min-height: 100%;
}

#color-picker {
	background-color: var(--color-background);
	display: flex;
	margin: 0;
	padding: 0;
	gap: 2px;
	align-content: stretch;
	flex-direction: column;
	list-style-type: none;

	li {
		position: relative;
		flex-grow: 1;
		text-wrap-mode: nowrap;
		overflow: hidden;
	}

	label::after {
		position: absolute;
		inset: 0;
		content: "";
	}

	label:has(:checked)::after {
		box-shadow: inset 2px 2px 5px black;
	}

	label:has([value="aqua"])::after {
		background-color: aqua;
	}

	label:has([value="blue"])::after {
		background-color: blue;
	}

	label:has([value="chartreuse"])::after {
		background-color: chartreuse;
	}

	label:has([value="coral"])::after {
		background-color: coral;
	}

	label:has([value="red"])::after {
		background-color: red;
	}

	label:has([value="deeppink"])::after {
		background-color: deeppink;
	}

	label:has([value="rebeccapurple"])::after {
		background-color: rebeccapurple;
	}
}

button.start-stop {
	--color: red;
	--color-off: hsl(from var(--color) H calc(S * 0.5) L);
	--shadow: -2px -5px 10px hsl(from var(--color-background) H S calc(L * 0.1)),
		2px 5px 10px hsl(from var(--color-background) H S calc(L * 1.5));
	box-shadow: var(--shadow);
	block-size: 150px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--color-background);
	border-style: none;
	box-sizing: border-box;
	container-type: size;
	padding: 10px;
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		border-radius: 50%;
		inset: 0;
		border: 8cqb solid var(--color-off);
		content: "";
		z-index: 1;
	}

	> * {
		font-size: 15cqb;
		color: var(--color-off);
		background-color: var(--color-background);
		text-transform: uppercase;
		font-weight: bold;

		hr {
			border: 0.1em solid var(--color-off);
			margin: 0.1em 1em;
		}
	}

	&.on {
		--shadow-on: var(--color) 0 0 10px;
		box-shadow: var(--shadow), var(--shadow-on) 2px;

		&::before {
			border: 8cqb solid var(--color);
			box-shadow: inset var(--shadow-on) 2px;
		}

		> * {
			color: var(--color);
			text-shadow: var(--shadow-on);

			hr {
				border-color: var(--color);
				box-shadow: var(--shadow) 2px;
			}
		}
	}

	&:active {
		&::before {
			filter: brightness(80%);
		}
		&::before,
		& > * {
			transform: translate(1px, 2px);
		}
	}
}

@keyframes vibrate {
	from {
		transform: translateY(-1px);
	}

	to {
		transform: translateY(1px);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.vibrating {
		animation: 0.05s alternate infinite vibrate;
	}
}